.border-for-logo-clients {
  /* content: "";
  background-color: transparent; */
  max-width: 479px;
  height: 90px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid var(--img-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--navigation-link-focus);
  }
}

.clients-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-svg-clients {
  fill: var(--img-color);
  &:hover,
  &:focus {
    fill: var(--navigation-link-focus);
  }
}

.svg-list-clients {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.title-clients {
  margin: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.179;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 380px) {
  .clients {
    padding: 0px;
  }
  .svg-list-clients {
    display: block;
  }
  .border-for-logo-clients {
    justify-content: space-evenly;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 381px) {
  .svg-list-clients {
    // max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
  }
  .border-for-logo-clients {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) {
  .svg-list-clients {
    max-width: 470px;
    // margin-left: 10px;
    // margin-right: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .border-list {
    margin-bottom: 20px;
  }
  .border-for-logo-clients {
    width: 210px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .svg-list-clients {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
  }
  .title-clients {
    margin-top: 105px;
  }
  .border-for-logo-clients {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .border-for-logo-clients {
    width: 170px;
  }
  .svg-list-clients {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-between;
  }
}
