.burger-bnt,
.mob-close-bnt {
  background-color: transparent;
  border: none;
  padding: 0;
}
.mob-close-bnt {
  position: absolute;
  top: 10px;
  right: 15px;
}
.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
  fill: #000;
}

.mobil-menu {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: #fff;
  padding: 48px 40px;
  transition: transform 500ms linear;
}
.mobil-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1, 175;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: #000;

  &:hover,
  &:focus {
    color: var(--navigation-link-focus);
  }
}
.mobil-tel-nav {
  display: block;
  position: absolute;
  bottom: 48px;
}
.mobil-phone-link-header {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--navigation-link-focus);
}
.mobil-mail-link-header {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  margin-top: 32px;

  color: var(--paragraph-text);
}
.mobil-socil-network-list {
  display: flex;
  margin-top: 64px;
}
.mob-networks {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--navigation-link-focus);
}

.twitter,
.instagram,
.facebook,
.linkedIn {
  display: inline-block;
  position: relative;
  margin: 10px;
}
.twitter {
  margin-left: 0px;
}
.linkedIn {
  margin-right: 0px;
}
.twitter:after,
.instagram:after,
.facebook:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  right: -10px;
  background-color: var(--navigation-link-focus);
}
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .mail-tel-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger-bnt {
    display: none;
  }
  .mobil-menu {
    display: none;
  }
}

// .nav-position {
//   display: flex;
// }
// .navigation {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   display: flex;
// }
// .navigation-list {
//   display: flex;
//   /* margin-left: 93px; */
//   padding: 0px;
//   padding-left: 93px;
//   padding-top: 32px;
//   /* margin-top: 32px; */
//   margin: 0px;
// }
// .navigation-item {
//   position: relative;
//   padding-bottom: 32px;
// }
// .navigation-item-middle {
//   position: relative;
//   margin-left: 50px;
//   margin-right: 50px;
//   padding-bottom: 32px;
// }
// .navigation-link {
//   color: var(--mostly-used-color);
//   transition: color 250ms var(--time-cubic);

//   &:hover,
//   &:focus {
//     color: var(--navigation-link-focus);
//   }
// }
// .blue-studio {
//   color: var(--navigation-link-focus);
// }

// .mail-tel-nav {
//   padding: 0px;
//   margin-left: 305px;
//   display: flex;
//   margin-top: 32px;
//   margin-bottom: 32px;
//   transition: color 250ms var(--time-cubic);
// }
// .mail-link-header {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.141;
//   letter-spacing: 0.02em;
//   color: var(--links-header);
//   fill: var(--links-header);
//   transition: color 250ms var(--time-cubic);

//   &:hover,
//   &:focus {
//     color: var(--navigation-link-focus);
//     fill: var(--navigation-link-focus);
//   }
// }
// .phone-link-header {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   color: var(--links-header);
//   margin-left: 30px;
//   fill: var(--links-header);
//   transition: color 250ms var(--time-cubic);

//   & {
//     display: flex;
//     align-items: center;
//   }

//   &:hover,
//   &:focus {
//     color: var(--navigation-link-focus);
//     fill: var(--navigation-link-focus);
//   }
// }

// .header {
//   border-bottom: 1px solid #ececec;
//   margin-left: auto;
//   margin-right: auto;
// }
// .item-svg-mail-tel {
//   margin-right: 10px;
//   transition: fill 250ms var(--time-cubic);
// }
// .mail-link-header {
//   display: flex;
//   align-items: center;
// }
// .current {
//   &:after {
//     position: absolute;
//     left: 0;
//     bottom: 0;

//     content: "";
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--navigation-link-focus);
//     border-radius: 2px;
//   }
// }
