.hero-background {
  // display: flex;
  background-color: var(--mostly-used-color);
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images-main/bg-mobile.jpg);
  background-position: center;
  background-size: cover;
}

.landscrape {
  display: block;
  padding-top: 118px;
  padding-bottom: 188px;
  text-align: center;
  align-items: center;
}
.text-hero {
  text-align: center;
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--claer-white);
}
.btn-hero {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .hero-background {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images-main/bg-tablet.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero-background {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images-main/background-hero.jpg);
    background-position: center;
    background-size: cover;
  }
}
// @media screen and (min-width: 480px) {
//   // .landscrape {
//   //   display: block;
//   //   text-align: center;
//   // }
// }
// // .hero-background {
//   display: inline-block;
//   height: 600px;
//   max-width: 1600px;
//   left: 0px;
//   top: 80px;
//   margin-left: auto;
//   margin-right: auto;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images-main/background-hero.jpg);
//   background-size: cover;
//   text-align: center;
//   padding-top: 200px;
// }
// .text-hero {
//   margin-top: 0px;
//   margin-bottom: 0px;
//   width: 696px;
//   height: 120px;
//   margin-right: auto;
//   margin-left: auto;

//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.34;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--claer-white);
// }
