html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--mostly-used-color);
  background: #ffffff;
}
body.modal-open {
  overflow: hidden;
}

li {
  list-style-type: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
